.vs/
.vscode/

Binaries/
Intermediate/

!premake5.exe

*.exe
*.dll
*.lib
*.log
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/